.header {
    position: absolute;
    top: 53px;
    z-index: 1;
  
  

    &__navigation {
        display: flex;
        gap: 144px;

        &-icon {
            width: 241px;
            height: 54px;
            cursor:pointer;
        }
    }

    &__menu {
        display: flex;
        gap: 110px;
    }

    &__social {
        display: flex;
        margin-top: 15px;
        height: 40px;
        gap: 20px;

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
           
        }

        &-link:hover {
            border: 1px solid #FFFFFF;
        }

        &-link:hover &-icon {
            fill: aquamarine;
          
        }

        &-icon {
            width: 16px;
            height: 18px;
            fill: #FFFFFF;
        }
    }

    &__heading {
        position: absolute;
        top: 50%; left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        &-headline {
            width: max-content;
            display: flex;
            font-family: "Montserrat-Bold",sans-serif;
            font-size: 80px;
            line-height: 97.5px;
            letter-spacing: 0.1em;
            color:#FFFFFF;
        }

        &-subtext {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            font-family:  "Montserrat Regular",sans-serif;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.3em;
            color:#FFFFFF;
        } 

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 385px;
            left: 413px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #FFFFFF;

            &.arrow-white {
                border:1px solid #FFFFFF;
                top: 700px;
                left: 780px;
            }

            &.arrow-red {
                border: 1px solid black;
                ;
                top: 700px;
                left: 780px;
            }
        }

        &-icon {
            width: 10px;
            height: 17px;
            fill: #FFFFFF;

            &.arrow-white {
                fill: #FFFFFF;
            }

            &.arrow-red {
                fill: black;
                background: red;
            }
            
        }
    }

    &__slider {
        position: absolute;
        top: 700px;
        left: 763px;
        width: 40px;
        height: 40px;
        background-color:green;
    }
}


.radio {

    &__button {
        display: flex;
        gap: 70px;
        margin-top: 27px;
        height: 18px;
    }

    &__button a {
        text-decoration: none;
    }

    &__container {
        position: relative;
       
        padding-left: 23px;
        color:#FFFFFF;
        cursor: pointer;
        font-family: "SourceSansPro Regular";
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
       
    }

    &__input:checked ~ .checkmark {
        background-color: #fff;
        font-family: "SourceSansPro Regular";
        line-height: 18px;
        font-size: 20px;
    }
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 9px;
    width: 9px;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
}