@import url(../../assets/fonts/Open_Sans/openSans.css);
@import url(../../assets/fonts/Montserrat/montserrat.css);
@import url(../../assets/fonts/Source_Sans_Pro/sourceSansPro.css);


@import 'components/swiper';
@import 'components/header';
@import 'components/projects';
@import 'components/news';
@import 'components/gallery';
@import 'components/contact-form';
@import 'components/footer';



html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}



  

