.news {
    margin-top: 150px;
    background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    height: 978px !important;

    &__title {
        text-align: center;
        padding-top: 120px;

        &-line {
            margin: 0 auto;
            width: 100px;
            border: 1px solid #FFFFFF;
        }

        &-headline {
            padding-top: 30px;
            font-family: "Montserrat Bold",sans-serif;
            font-size: 44px;
            line-height: 54px;
            color:#FFFFFF;
            cursor: pointer;
        }
    }

    &__pictures {
        position: relative;
        margin-top: 90px;
        width: 370px;
        height: 514px;
        background-color: white;

        &-title {
            margin-top: 30px;
            font-family: "Montserrat Bold",sans-serif;
            font-size: 22px;
            line-height: 27px;
            padding-bottom: 15px;
            cursor:pointer;
        }

        &-subtext {
            font-family: "OpenSans Regular",sans-serif;
            font-size: 18px;
            line-height: 25px;
            cursor:pointer;
        }

        &-photo {
            height: 240px !important;
            cursor:pointer;
        }

        &-information {
            padding: 0 20px 0 20px;
        }
    }

    &__author {
        margin-top: 39px;
        display:flex;
        gap: 20px;

        &-profile {
            width: 60px  !important;
            height: 60px  !important;
            border-radius: 50%;
            cursor:pointer;
        
        }

        &-nema {
            margin-top: 7px;
            font-family:  "Montserrat Regular",sans-serif;
            font-size: 18px;
            line-height: 22px;
            cursor:pointer;
        }

        &-indent {
            display: block;
            margin-top: 6px;
            font-family:  "Montserrat Regular",sans-serif;
            font-size: 14px;
            line-height: 17px;
            color:#55B7FF;
            cursor:pointer;
        }
    }
}

.button-next-icon {
    position: absolute;
    right: 131px;
    top: 543px;

    width: 40px;
    height: 40px;
    cursor:pointer;
}

.button-prev-icon {
    position: absolute;
    left: 115px;
    top: 543px;

    width: 40px;
    height: 40px;
    cursor:pointer;
    
}