@import 'components/swiper';
@import 'components/header';
@import 'components/projects';
@import 'components/news';
@import 'components/gallery';
@import 'components/contact-form';
@import 'components/footer';

@import url(../../assets/fonts/Open_Sans/openSans.css);
@import url(../../assets/fonts/Montserrat/montserrat.css);
@import url(../../assets/fonts/Source_Sans_Pro/sourse-sans-pro.css);

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
}
* {
box-sizing:border-box;
margin:0;
padding: 0;
}

.main {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


// .container {
//     position: relative;
//     padding-left: 35px;
//     // margin-bottom: 12px;
//     cursor: pointer;
// }

// .container input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
// }

.invalid { border-color: red; }
  #error { color: red }


// .container input:checked ~ .checkmark {
//     background-color: #fff;
// }
// .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
// }
// .container input:checked ~ .checkmark:after {
//     display: block;
// }
// .container .checkmark:after {
//    top: 6px;
//    left: 6px;
//    width: 8px;
//    height: 8px;
//    border-radius: 50%;
//    background: #FFFFFF;
// }





.container {
  display: grid;
  grid-template-columns:repeat(4, 285px) ;
  grid-template-rows: repeat(2, 214px) ;
  grid-gap: 10px;
  color:black;
}

.box_1 {
  grid-area: 1 / 1 / 2 / 2;
  background: url(../../assets/images/gallery-photo/Mask.jpg);
}
.box_2 {
  grid-area: 1 / 3;
  background: url(../../assets/images/gallery-photo/echo-grid-156713\ 1.jpg);
}
.box_3 {
   grid-area: 1 / 4;
   background: url(../../assets/images/gallery-photo/fuse-brussels-169216\ 1.jpg);
}
.box_4 {
   grid-area: 2 / 3;
   background: url(../../assets/images/gallery-photo/photos-13323p6Bdc0uhr8Bq\ 1.jpg);
}
.box_5 {
   grid-area: 2 / 4 ;
   background: url(../../assets/images/gallery-photo/tu-tram-pham-202263\ 2.jpg);
}
// .box_6 {
//    grid-area: 3 / 2 / span 1 / span 2;
//    background: url(../assets/images/image-\(6\).png);
// }