.footer {
    height: 549px;
    background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);

    &__credit {
        display: flex;
        justify-content:space-around;
        padding-top: 203px;
    }

    &__logo {

        &-icon {
            width: 241px;
            height: 54px;
        }
    }

    &__social {
        display: flex;
        // margin-top: 15px;
        height: 40px;
        gap: 20px;

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
           
        }

        &-link:hover {
            fill: aquamarine;
            border: 1px solid #e10000;
        }

        &-link:hover &-icon {
            fill: aquamarine;
          
        }

        &-icon {
            width: 16px;
            height: 18px;
            fill: #FFFFFF;
           
        }
    }
}