.gallery {
    // height: 1000px;
    margin-top: 150px;

    &__title {

        &-line{
            margin: 0 auto;
            width: 100px;
            border: 1px solid #2C4058;
        }
      
        &-headline {
            text-align: center;
            margin-top: 30px;
            font-size: 44px;
            line-height: 54px;
            font-family: "Montserrat Bold",sans-serif;
        }
    }



    &__button {
        margin-top: 60px;

        &-seemore {
            display: flex;
            margin: 0 auto;
            padding: 16px 57px 17px 57px;
            border: 1px solid #2C4058;
            background-color: #FFFFFF;
        }

        &-seemore:hover {
            background-color: #3C7FD4;
            border: 1px solid #3C7FD4;
            color: #FFFFFF;
            transition: 1s;
        }
    }
}