@import url(../../assets/fonts/Open_Sans/openSans.css);
@import url(../../assets/fonts/Montserrat/montserrat.css);
@import url(../../assets/fonts/Source_Sans_Pro/sourceSansPro.css);
html,
body {
  height: 100%;
}

.mySwiper.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mySwiper-horizontal.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide.backg {
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid rgb(231, 231, 231);
  opacity: 1;
  margin: 40px 0 !important;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #fff;
}

.mySwiper-horizontal .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid rgb(231, 231, 231);
  opacity: 1;
  margin: 0 40px !important;
}

.mySwiper-horizontal .swiper-pagination-bullet-active {
  background-color: #fff;
}

.button-next::after {
  display: none;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  margin-bottom: 120px;
}

.header {
  position: absolute;
  top: 53px;
  z-index: 1;
}
.header__navigation {
  display: flex;
  gap: 144px;
}
.header__navigation-icon {
  width: 241px;
  height: 54px;
  cursor: pointer;
}
.header__menu {
  display: flex;
  gap: 110px;
}
.header__social {
  display: flex;
  margin-top: 15px;
  height: 40px;
  gap: 20px;
}
.header__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.header__social-link:hover {
  border: 1px solid #FFFFFF;
}
.header__social-link:hover .header__social-icon {
  fill: aquamarine;
}
.header__social-icon {
  width: 16px;
  height: 18px;
  fill: #FFFFFF;
}
.header__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__heading-headline {
  width: max-content;
  display: flex;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 80px;
  line-height: 97.5px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.header__heading-subtext {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}
.header__heading-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 385px;
  left: 413px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}
.header__heading-button.arrow-white {
  border: 1px solid #FFFFFF;
  top: 700px;
  left: 780px;
}
.header__heading-button.arrow-red {
  border: 1px solid black;
  top: 700px;
  left: 780px;
}
.header__heading-icon {
  width: 10px;
  height: 17px;
  fill: #FFFFFF;
}
.header__heading-icon.arrow-white {
  fill: #FFFFFF;
}
.header__heading-icon.arrow-red {
  fill: black;
  background: red;
}
.header__slider {
  position: absolute;
  top: 700px;
  left: 763px;
  width: 40px;
  height: 40px;
  background-color: green;
}

.radio__button {
  display: flex;
  gap: 70px;
  margin-top: 27px;
  height: 18px;
}
.radio__button a {
  text-decoration: none;
}
.radio__container {
  position: relative;
  padding-left: 23px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "SourceSansPro Regular";
}
.radio__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio__input:checked ~ .checkmark {
  background-color: #fff;
  font-family: "SourceSansPro Regular";
  line-height: 18px;
  font-size: 20px;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 9px;
  width: 9px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
}

.projects {
  position: relative;
}
.projects__title {
  text-align: center;
  margin-top: 100px;
}
.projects__title-headline {
  font-size: 44px;
  font-family: "Montserrat Bold", sans-serif;
  line-height: 54px;
  color: #2C4058;
  margin-top: 30px;
  cursor: pointer;
}
.projects__title-line {
  margin: 0 auto;
  width: 100px;
  border: 1px solid #2C4058;
}

.tradecenter {
  position: relative;
  display: flex;
  gap: 70px;
  margin-top: 90px;
}
.tradecenter__img-behind {
  position: absolute;
  left: -215px;
  top: -57px;
  width: 585px;
  height: 470px;
  background-color: #55B7FF;
  z-index: -1;
}
.tradecenter__img-top {
  cursor: pointer;
}
.tradecenter__information {
  width: 470px;
  height: 350px;
}
.tradecenter__information-line {
  font-size: 22px;
  line-height: 27px;
  font-family: "Montserrat Regular", sans-serif;
  color: #2C4058;
}
.tradecenter__information-title {
  font-size: 44px;
  line-height: 54px;
  font-family: "Montserrat Bold", sans-serif;
  cursor: pointer;
}
.tradecenter__information-text {
  font-size: 18px;
  line-height: 30px;
  font-family: "OpenSans Regular", sans-serif;
  margin-top: 19px;
  color: #2C4058;
}
.tradecenter__button {
  padding-bottom: 60px;
}
.tradecenter__button-details {
  border: 1px solid #2C4058;
  margin-top: 40px;
  padding: 16px 41px 17px 41px;
  background-color: #FFFFFF;
}
.tradecenter__button-details:hover {
  color: #FFFFFF;
  background-color: #55B7FF;
  border: 1px solid #55B7FF;
  transition: 1s;
}
.tradecenter__location {
  text-decoration: none;
  margin-top: 60px;
  font-family: "OpenSans Italic", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.tradecenter__location-icon {
  width: 9px;
  height: 17px;
  margin-right: 10px;
}

.commercecenter {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  position: relative;
}
.commercecenter__img-behind {
  position: absolute;
  right: -215px;
  top: -57px;
  width: 585px;
  height: 470px;
  background-color: #7E5AFF;
  z-index: -1;
}
.commercecenter__img-top {
  cursor: pointer;
}
.commercecenter__information {
  width: 476px;
  height: 350px;
}
.commercecenter__information-line {
  font-size: 22px;
  line-height: 27px;
  font-family: "Montserrat Regular", sans-serif;
  color: #2C4058;
}
.commercecenter__information-title {
  font-size: 44px;
  line-height: 54px;
  font-family: "Montserrat Bold", sans-serif;
  cursor: pointer;
}
.commercecenter__information-text {
  font-size: 18px;
  line-height: 30px;
  font-family: "OpenSans Regular", sans-serif;
  margin-top: 19px;
  color: #2C4058;
}
.commercecenter__button {
  padding-bottom: 60px;
}
.commercecenter__button-details {
  border: 1px solid #2C4058;
  margin-top: 40px;
  padding: 16px 41px 17px 41px;
  background-color: #FFFFFF;
}
.commercecenter__button-details:hover {
  color: #FFFFFF;
  background-color: #7E5AFF;
  border: 1px solid #7E5AFF;
  transition: 1s;
}
.commercecenter__location {
  text-decoration: none;
  margin-top: 60px;
  font-family: "OpenSans Italic", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.commercecenter__location-icon {
  width: 9px;
  height: 17px;
  margin-right: 10px;
}

.news {
  margin-top: 150px;
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  height: 978px !important;
}
.news__title {
  text-align: center;
  padding-top: 120px;
}
.news__title-line {
  margin: 0 auto;
  width: 100px;
  border: 1px solid #FFFFFF;
}
.news__title-headline {
  padding-top: 30px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 44px;
  line-height: 54px;
  color: #FFFFFF;
  cursor: pointer;
}
.news__pictures {
  position: relative;
  margin-top: 90px;
  width: 370px;
  height: 514px;
  background-color: white;
}
.news__pictures-title {
  margin-top: 30px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 15px;
  cursor: pointer;
}
.news__pictures-subtext {
  font-family: "OpenSans Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}
.news__pictures-photo {
  height: 240px !important;
  cursor: pointer;
}
.news__pictures-information {
  padding: 0 20px 0 20px;
}
.news__author {
  margin-top: 39px;
  display: flex;
  gap: 20px;
}
.news__author-profile {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  cursor: pointer;
}
.news__author-nema {
  margin-top: 7px;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.news__author-indent {
  display: block;
  margin-top: 6px;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
  cursor: pointer;
}

.button-next-icon {
  position: absolute;
  right: 131px;
  top: 543px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.button-prev-icon {
  position: absolute;
  left: 115px;
  top: 543px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.gallery {
  margin-top: 150px;
}
.gallery__title-line {
  margin: 0 auto;
  width: 100px;
  border: 1px solid #2C4058;
}
.gallery__title-headline {
  text-align: center;
  margin-top: 30px;
  font-size: 44px;
  line-height: 54px;
  font-family: "Montserrat Bold", sans-serif;
  cursor: pointer;
}
.gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: repeat(2, 214px);
  grid-gap: 10px;
  color: black;
  margin-top: 90px;
}
.gallery__container-mask {
  grid-area: 1/1/3/3;
  background: url(../../../assets/images/gallery-photo/Mask\(1\).jpg);
}
.gallery__container-skyscraper {
  background: url(../../../assets/images/gallery-photo/skyscraper\(2\).jpg);
}
.gallery__container-flats {
  background: url(../../../assets/images/gallery-photo/flats\(3\).jpg);
}
.gallery__container-company {
  background: url(../../../assets/images/gallery-photo/company\(4\).jpg);
}
.gallery__container-facilities {
  background: url(../../../assets/images/gallery-photo/facilities\(5\).jpg);
}
.gallery__button {
  margin-top: 60px;
}
.gallery__button-seemore {
  display: flex;
  margin: 0 auto;
  padding: 16px 57px 17px 57px;
  border: 1px solid #2C4058;
  background-color: #FFFFFF;
}
.gallery__button-seemore:hover {
  background-color: #3C7FD4;
  border: 1px solid #3C7FD4;
  color: #FFFFFF;
  transition: 1s;
}

.contact {
  position: relative;
  width: 100%;
  margin-top: 150px;
}
.contact__map {
  width: 100%;
  cursor: pointer;
}

.invalid {
  border-color: red;
}

#error {
  color: red;
}

.form {
  position: absolute;
  top: 400px;
  left: 415px;
  width: 770px;
  height: 450px;
  background-color: #FFFFFF;
  z-index: 1;
}
.form__title {
  text-align: center;
  margin-top: 60px;
}
.form__title-line {
  margin: 0 auto;
  width: 100px;
  border: 1px solid #2C4058;
}
.form__title-headline {
  font-family: "Montserrat Bold", sans-serif;
  line-height: 54px;
  font-size: 44px;
  margin-top: 30px;
  cursor: pointer;
}
.form__communication {
  width: 286px;
  height: 196px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 42px 54px 68px 60px;
}
.form__communication-link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 29px;
}
.form__communication-icon {
  width: 14px;
  height: 17px;
  margin-right: 5px;
}
.form__filling {
  position: absolute;
  right: 60px;
  top: 186px;
  width: 310px;
  height: 195px;
}
.form__filling-input {
  height: 41px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #4B5562;
  font-size: 18px;
  line-height: 27px;
  font-family: "Montserrat Regular", sans-serif;
}
.form__filling-input:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}
.form__filling-button {
  padding: 11px 34px 12px 34px;
  margin-top: 30px;
  margin-left: 185px;
  border: 1px solid #2C4058;
  background-color: #FFFFFF;
}
.form__filling-button:hover {
  background-color: #3C7FD4;
  border: 1px solid #3C7FD4;
  color: #FFFFFF;
  transition: 1s;
}

.footer {
  height: 549px;
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
}
.footer__credit {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding-top: 203px;
}
.footer__logo-icon {
  width: 241px;
  height: 54px;
  cursor: pointer;
}
.footer__logo-subtext {
  position: absolute;
  top: 294px;
  left: 193px;
  color: #FFFFFF;
  line-height: 17px;
  font-family: "Montserrat Regular", sans-serif;
  cursor: pointer;
}
.footer__social {
  display: flex;
  height: 40px;
  gap: 20px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.footer__social-link:hover {
  border: 1px solid #FFFFFF;
}
.footer__social-link:hover .footer__social-icon {
  fill: aquamarine;
}
.footer__social-icon {
  width: 16px;
  height: 18px;
  fill: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */